# Virtual environments
.venv
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# uv lock file
uv.lock


# build artifacts
*.egg-info/
*.egg
build/
dist/

# Fine-tuned model directories
*/sft_finetuned_model/
*/dpo_finetuned_model/
finetuned_model/
